.cardroupa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
}

.roupa-content img {
    width: 37px;
    height: 37px;
}

.roupa-content {
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding: 5px, 10px;
}

.nome-roupa{
    display: flex;
    justify-content: end;
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.prizes-preto{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.prize-roupa-preto{
    font-family: var(--font-prize);
    font-size: var(--font-prize-size);
    font-weight: var(--font-prize-weight);
}

.discount-roupa-preto {
    font-family: var(--font-prize);
    font-size: var(--font-discount-size);
    text-decoration: line-through;
    color: var(--color-secondary-black);

}