.section-inverno {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 35px;
    color: var(--color-primary-white);
    background-image: url('../../../assets/images/background.svg');
}


.container-inverno {
    display: flex;
    gap: 50px;
}

.section-inverno h2 {
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
}