.section-inverno {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 35px;
    color: var(--color-primary-white);
    background-image: url('../../../assets/images/background.svg');
}


.container {
    display: flex;
    gap: 50px;
}

.section-inverno h2 {
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
}

.card-camisa {
    transition: transform 0.2s;
}

.card-camisa:hoover {
    cursor: pointer;
    transform: scale(1.05);
}