.top-line {
  width: 100%;
  height: 30px;
  background-color: #000; 
}

.top-line p {
  padding: 6px;
  color: #fff;
  text-align: center;
  font-family: var(--font-title);
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  padding:  40px ; 
}

.btns-kart-profile{
  display: flex;
  gap: 10px;
}
