.section-menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 550px;
    padding: 40px 0;
    background-image: url('../../../assets/images/background-section.svg');
    background-position: center;
    
    
}


.container-menu {
    display: flex;
    gap: 20px;
    padding: 40px 0;
    
}

.titulo-menu {
    color: #fff;
    font-family: var(--font-title);
    font-size: var(--font-h2-size);

}