.section-ofertas {
    display: flex;
    padding: 50px;
    gap: 50px;

}

.imagemOfertas {
    width: 478px;
    height: 739px;
}

.container-ofertas {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 50px;
}

h2 {
    font-family: var(--font-title);
    font-size: var(--font-h2-size);
    font-weight: var(--font-title-weight);
    display: flex;
    justify-content: center;
}

.bannerComSale {
    position: relative;
    display: inline-block;
}

.bannerComSale img {
    display: block;
}

.bannerComSale h2 {
    position: absolute;
    top: 11%;
    left: 87%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--font-h3-size);
    text-align: center;
    flex-direction: column;
    line-height: 1;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.38);
    width: 100px;
    height: 100px;
    border-radius: 20px 5px;
    padding: 10px;

}


.highlighted-word {
    color: purple;
}
