.div-navegacao nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 22px;
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    background-color: rgb(255, 255, 255);
}

.section-comprar-conatiner {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
    gap: 150px;
     background: radial-gradient(circle, #000000 0%, #474747 50%, #000000 100%);

}

.section-comprar-conatiner img {
    width: 461px;
    height: 692px;
    border-radius: 10px;

}

.container-comprar {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 667px;
    height: 623px;


}

.div-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 116px;
    background-color: #e8e8e8;

    font-family: var(--font-title);
    font-size: 22px;
}


/*  ÁREA DE PREÇOS  */
.box-precos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 150px;
}



.linha-preco {
    display: flex;
    align-items: center;
    gap: 12px;
}



.preco-antigo {
    font-size: 10px;
    color: #000;
    text-decoration: line-through;
}



.preco-novo {
    font-family: var(--font-title);
    font-size: 48px;
    font-weight: 400;
    color: #000;
}


.parcelamento {
    margin-top: -10px;
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--color-secondary-dark-gray);
}


